{% extends 'airport_finder/main.html' %}

  {% block content %}

    <div class="container" style="padding-top:70px">
      <div class="row">

    <div class="col col-md-12">
      {% for detail in countryTittle %}
        <h2 class="display-3">{{ detail }} Airports</h2>
      {% endfor %}
      <hr>
      <h2>List of airports by IATA code:</h2>
    </div>
    <!--btn list-->
    <div class="container row">    
    <div class="col col-md-12">
      <a class="btn btn-outline-dark" href="#A" role="button">A</a>
      <a class="btn btn-outline-dark" href="#B" role="button">B</a>
      <a class="btn btn-outline-dark" href="#C" role="button">C</a>
      <a class="btn btn-outline-dark" href="#D" role="button">D</a>
      <a class="btn btn-outline-dark" href="#E" role="button">E</a>
      <a class="btn btn-outline-dark" href="#F" role="button">F</a>
      <a class="btn btn-outline-dark" href="#G" role="button">G</a>
      <a class="btn btn-outline-dark" href="#H" role="button">H</a>
      <a class="btn btn-outline-dark" href="#I" role="button">I</a>
      <a class="btn btn-outline-dark" href="#J" role="button">J</a>
      <a class="btn btn-outline-dark" href="#K" role="button">K</a>
      <a class="btn btn-outline-dark" href="#L" role="button">L</a>
      <a class="btn btn-outline-dark" href="#M" role="button">M</a>
      <a class="btn btn-outline-dark" href="#N" role="button">N</a>
      <a class="btn btn-outline-dark" href="#O" role="button">O</a>
      <a class="btn btn-outline-dark" href="#P" role="button">P</a>
      <a class="btn btn-outline-dark" href="#Q" role="button">Q</a>
      <a class="btn btn-outline-dark" href="#R" role="button">R</a>
      <a class="btn btn-outline-dark" href="#S" role="button">S</a>
      <a class="btn btn-outline-dark" href="#T" role="button">T</a>
      <a class="btn btn-outline-dark" href="#U" role="button">U</a>
      <a class="btn btn-outline-dark" href="#V" role="button">V</a>
      <a class="btn btn-outline-dark" href="#W" role="button">W</a>
      <a class="btn btn-outline-dark" href="#X" role="button">X</a>
      <a class="btn btn-outline-dark" href="#Y" role="button">Y</a>
      <a class="btn btn-outline-dark" href="#Z" role="button">Z</a>
		  <hr>
    </div>
    </div>

    <!--Cards section All-->
    <div class="container row my-3" id="all">
      <div class="col col-md-6">
        <h3>Airports code (all)</h3>
        <hr>
      </div>
    </div>
    <!--Cards All-->
    {% for detail in airportDetails %}
    <div class="container row">
      <div class="col col-md-12">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <h5 class="card-header">{{detail.iata}}</h5>
    <div class="card-body">
      <h5 class="card-title"><a href="details/{{ detail.airport_id }}/" class="text-decoration-none">{{detail.airport_name}}</a></h5>
      <p class="card-text">-{{detail.city}}</p>
      </div>
    </div>
      </div>
    </div>
    {% endfor %}
    <!--Cards/End-->

    <!--Cards section A-->
    <div class="container row my-3" id="A">
      <div class="col col-md-6">
        <h3>Airports code A</h3>
        <hr>
      </div>
    </div>
    <!--Cards A-->
    <div class="container row">
      <div class="col col-md-12">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <h5 class="card-header">AAA</h5>
    <div class="card-body">
      <h5 class="card-title"><a href="#" class="text-decoration-none">Demo Airport</a></h5>
      <p class="card-text">-Demo City</p>
      </div>
    </div>
      </div>
    </div>
    <!--Cards/End-->


      </div>
    </div>
  <hr>

  {% endblock %}

