{% extends 'airport_finder/main.html' %}

  {% block content %}

    <div class="container" style="padding-top:70px">
      <div class="row">
    <!--Tittle-->
    <div class="col col-md-12">
      {% for detail in airportTittle %}
        <h2 class="display-3">{{ detail }}</h2>
      {% endfor %}
      <hr>
      <h2>Details:</h2>
      <hr>
    </div>
    <!--details container-->
    <div class="container row">
      <!--Card #1-->
      {% for detail in airportTittle %}
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">Airport ID:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.airport_id }}</h6>
      </div>
        </div>
      </div>

      <!--Card #2-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">Airport Name:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.airport_name }}</h6>
      </div>
        </div>
      </div>

      <!--Card #3-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">City:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.city }}</h6>
      </div>
        </div>
      </div>

      <!--Card #4-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">Country ID:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.country_id }}</h6>
      </div>
        </div>
      </div>

      <!--Card #5-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">IATA:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.iata }}</h6>
      </div>
        </div>
      </div>

      <!--Card #6-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">ICAO:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">21</h6>
      </div>
        </div>
      </div>

      <!--Card #7-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">Latitude:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.latitude }}</h6>
      </div>
        </div>
      </div>

      <!--Card #8-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">Longitude:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.longitude }}</h6>
      </div>
        </div>
      </div>

      <!--Card #9-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">Altitude:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.altitude }}</h6>
      </div>
        </div>
      </div>

      <!--Card #10-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">Time Zone:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.timezone }}</h6>
      </div>
        </div>
      </div>

      <!--Card #11-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">DST:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.dst }}</h6>
      </div>
        </div>
      </div>

      <!--Card #12-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">Tz Database Time Zone:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.tz_database_time_zone }}</h6>
      </div>
        </div>
      </div>

      <!--Card #13-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">Airport Type:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.airport_type }}</h6>
      </div>
        </div>
      </div>

      <!--Card #14-->
      <div class="col col-md-4">
        <div class="card border-dark mb-3" style="max-width: 15rem;">
      <div class="card-header">Source:</div>
      <div class="card-body text-dark">
        <h6 class="card-title">{{ detail.source }}</h6>
      </div>
        </div>
      </div>

      {% endfor %}
     
    <!--End/details container-->
      </div>
    </div>

  {% endblock %}
