<hr>
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4 bg-dark">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1 text-light">Thank you!</h5>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'home' %}" class="btn btn-outline-white btn-rounded btn-light text-dark">Go up!</a>
      </li>
    </ul>
    <!-- Call to action -->
  </div>
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center text-light py-3">© 2020 Copyright:
    <a class="text-light" href="{% url 'home' %}">XYZ_Airport</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->