{% extends 'airport_finder/main.html' %}

  {% block content %}
  <div class="container" style="padding-top:70px">
    <div class="row">
  <div class="col col-md-12">
    <div class="card">
  <img class="card-img-top" height="300" src="https://images.unsplash.com/photo-1562504208-03d85cc8c23e?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
  <div class="card-body">
    <h1 class="display-4">Welcome!</h1>
    <h4>Find your airport now!.</h4>
  </div>
    </div>
  </div>
    </div>
  </div>
  <hr>

  <!--General container-->
  <div class="container row my-1">

    <!--Sub container #1-->
    <div class="col col-lg-6 my-3">
      <div class="container row">
        <!--Sub container #1 continent title-->
        <div class="col col-lg-12"><h3>Europe</h3></div>
      </div>
      <hr>
      <div class="container row col-lg-12 shadow-lg">
        <!--Sub container #1 countries-->
        {% for i in europeCountries %}
          <div class="col col-lg-4"><a href="{% url 'airports_list' i.id %}" class="text-decoration-none">{{i.country_name}}</a></div>
        {% endfor %}
      </div>
    </div>

    <!--Sub container #2-->
    <div class="col col-lg-6 my-3">
      <div class="container row">
        <!--Sub container #2 continent title-->
        <div class="col col-lg-12"><h3>North America</h3></div>
      </div>
      <hr>
      <div class="container row col-lg-12 shadow-lg">
        <!--Sub container #2 countries-->
        {% for i in northAmericaCountries %}
          <div class="col col-lg-4"><a href="{% url 'airports_list' i.id %}" class="text-decoration-none">{{i.country_name}}</a></div>
        {% endfor %}
      </div>
    </div>
    
    <!--Sub container #3-->
    <div class="col col-lg-6 my-3">
      <div class="container row">
        <!--Sub container #3 continent title-->
        <div class="col col-lg-12"><h3>Central America</h3></div>
      </div>
      <hr>
      <div class="container row col-lg-12 shadow-lg">
        <!--Sub container #3 countries-->
        {% for i in centralAmericaCountries %}
          <div class="col col-lg-4"><a href="{% url 'airports_list' i.id %}" class="text-decoration-none">{{i.country_name}}</a></div>
        {% endfor %}
      </div>
    </div>

    <!--Sub container #4-->
    <div class="col col-lg-6 my-3">
      <div class="container row">
        <!--Sub container #4 continent title-->
        <div class="col col-lg-12"><h3>Caribbean</h3></div>
      </div>
      <hr>
      <div class="container row col-lg-12 shadow-lg">
        <!--Sub container #4 countries-->
        {% for i in caribbeanCountries %}
          <div class="col col-lg-4"><a href="{% url 'airports_list' i.id %}" class="text-decoration-none">{{i.country_name}}</a></div>
        {% endfor %}
      </div>
    </div>

    <!--Sub container #5-->
    <div class="col col-lg-6 my-3">
      <div class="container row">
        <!--Sub container #5 continent title-->
        <div class="col col-lg-12"><h3>South America</h3></div>
      </div>
      <hr>
      <div class="container row col-lg-12 shadow-lg">
        <!--Sub container #5 countries-->
        {% for i in southAmericaCountries %}
          <div class="col col-lg-4"><a href="{% url 'airports_list' i.id %}" class="text-decoration-none">{{i.country_name}}</a></div>
        {% endfor %}
      </div>
    </div>
    
    <!--Sub container #6-->
    <div class="col col-lg-6 my-3">
      <div class="container row">
        <!--Sub container #6 continent title-->
        <div class="col col-lg-12"><h3>Africa</h3></div>
      </div>
      <hr>
      <div class="container row col-lg-12 shadow-lg">
        <!--Sub container #6 countries-->
        {% for i in africaCountries %}
          <div class="col col-lg-4"><a href="{% url 'airports_list' i.id %}" class="text-decoration-none">{{i.country_name}}</a></div>
        {% endfor %}
      </div>
    </div>

    <!--Sub container #7-->
    <div class="col col-lg-6 my-3">
      <div class="container row">
        <!--Sub container #7 continent title-->
        <div class="col col-lg-12"><h3>Asia</h3></div>
      </div>
      <hr>
      <div class="container row col-lg-12 shadow-lg">
        <!--Sub container #7 countries-->
        {% for i in asiaCountries %}
          <div class="col col-lg-4"><a href="{% url 'airports_list' i.id %}" class="text-decoration-none">{{i.country_name}}</a></div>
        {% endfor %}
      </div>
    </div>

    <!--Sub container #8-->
    <div class="col col-lg-6 my-3">
      <div class="container row">
        <!--Sub container #8 continent title-->
        <div class="col col-lg-12"><h3>Oceania</h3></div>
      </div>
      <hr>
      <div class="container row col-lg-12 shadow-lg">
        <!--Sub container #8 countries-->
        {% for i in oceaniaCountries %}
          <div class="col col-lg-4"><a href="{% url 'airports_list' i.id %}" class="text-decoration-none">{{i.country_name}}</a></div>
        {% endfor %}
      </div>
    </div>
    
  </div>
  <!--General container end-->

  {% endblock %}
