<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{% url 'home' %}">XYZ_airport</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main_nav">
<ul class="navbar-nav">

	<li class="nav-item dropdown">
	  <a class="nav-link  dropdown-toggle" href="#Europe" data-toggle="dropdown">Europe</a>
	  <ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#">Country Demo</a></li>
		<li><a class="dropdown-item" href="#">More Countries</a></li>
	  </ul>
	</li>

	<li class="nav-item dropdown">
	  <a class="nav-link  dropdown-toggle" href="#North_America" data-toggle="dropdown">North America</a>
	  <ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#">Country Demo</a></li>
		<li><a class="dropdown-item" href="#">More Countries</a></li>
	  </ul>
	</li>

	<li class="nav-item dropdown">
	  <a class="nav-link  dropdown-toggle" href="#Central_America" data-toggle="dropdown">Central America</a>
	  <ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#">Country Demo</a></li>
		<li><a class="dropdown-item" href="#">More Countries</a></li>
		</ul>
	</li>
  
	<li class="nav-item dropdown">
	  <a class="nav-link  dropdown-toggle" href="#Caribbean" data-toggle="dropdown">Caribbean</a>
	  <ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#">Country Demo</a></li>
		<li><a class="dropdown-item" href="#">More Countries</a></li>
	  </ul>
	</li>

	<li class="nav-item dropdown">
	  <a class="nav-link  dropdown-toggle" href="#South_America" data-toggle="dropdown">South America</a>
	  <ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#">Country Demo</a></li>
		<li><a class="dropdown-item" href="#">More Countries</a></li>
		</ul>
	</li>
  
	<li class="nav-item dropdown">
	  <a class="nav-link  dropdown-toggle" href="#Africa" data-toggle="dropdown">Africa</a>
	  <ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#">Country Demo</a></li>
		<li><a class="dropdown-item" href="#">More Countries</a></li>
	  </ul>
	</li>

	<li class="nav-item dropdown">
	  <a class="nav-link  dropdown-toggle" href="#Asia" data-toggle="dropdown">Asia</a>
	  <ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#">Country Demo</a></li>
		<li><a class="dropdown-item" href="#">More Countries</a></li>
		</ul>
	</li>
  
	<li class="nav-item dropdown">
	  <a class="nav-link  dropdown-toggle" href="#Oceania" data-toggle="dropdown">Oceania</a>
	  <ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#">Country Demo</a></li>
		<li><a class="dropdown-item" href="#">More Countries</a></li>
	  </ul>
	</li>

</ul>
  </div>
</nav>
